* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: black;
}

.item, p{
  color: white;
}

button{

}
.container_top{
  width: 90%;
  height: 100px;
  margin: 100px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.container_main{
  width: 90%;
  height: 700px;
  margin: 100px 100px;
  display: flex;
  flex-direction: row;

}



.card1{
  width:50%;
  height: 100%;
  background-color: blue;
  border: 5px solid black;
  border-radius: 10px;
}
.card2{
  width:50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


}

.box1, .box2, .box3, .box4{
  width: 340px;
  height:340px;
  background-color: pink;
  border: 5px solid black;
  border-radius: 10px;
  margin:auto;

}
